<AlteryxJavaScriptPlugin>
	<EngineSettings EngineDll="Python" SDKVersion="10.1" ToolFamily="tools" />
	<Properties>
		<MetaInfo>
			<Name>Alteryx Python SDK Example Tools</Name>
			<RootToolName>Alteryx Python SDK</RootToolName>
			<Description>Tools created using ayx-plugin-sdk.</Description>
			<CategoryName>Alteryx Plugin SDK Examples</CategoryName>
			<ToolVersion>1.0</ToolVersion>
			<Author>Alteryx, Inc.</Author>
			<Company>Alteryx, Inc.</Company>
			<Copyright>2020</Copyright>
			<Icon>icon.png</Icon>
		</MetaInfo>
	</Properties>
</AlteryxJavaScriptPlugin>